@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--line-thickness: 0.5rem;
	--drawing-color: black;
}

.github * {
	font-family: "Noto Sans", serif;
}

.github {
	scale: 70%;
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.github a {
	text-decoration: none;
	width: fit-content;
}

.github p {
	margin-top: 0.8rem;
	color: black;
	text-align: center;
	font-size: 1.2rem;
	width: 100%;
	font-weight: 600;
}

.github a div:hover {
	filter: brightness(80%);
}

.github a div {
	font-weight: 600;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	text-align: center;
	padding: 1.2rem;
	font-size: 2rem;
	border-radius: 1rem;
	width: fit-content;
}

.github i {
	font-size: 180%;
	margin-right: 1rem;
}

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;

	font-family: "Merriweather", serif;
}

html {
	background: linear-gradient(rgb(109, 181, 245), rgb(36, 119, 187));
	background-attachment: fixed;
}

header {
	background: white;
	color: black;
	text-align: center;
	font-size: 1.5rem;
	border-radius: 1rem;
	width: 32%;
	margin: auto;
	padding-bottom: 0.5rem;
	margin-bottom: 3rem;
	box-shadow: 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
}

#content {
	background: beige;
	width: 60rem;
	margin: auto;
	padding: 1rem;
	margin-top: 2rem;
	border-radius: 1rem;
}

#game {
	display: flex;
}

#text {
	display: flex;
	flex: 1;
}

#text * {
	margin: auto;
}

#input {
	width: 90%;
	margin: auto;
}

.display-container {
	position: fixed;
	margin: auto;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	display: none;
	background: rgba(0, 0, 0, 0.25);
	left: 0;
	top: 0;
}

.display {
	background: rgba(227, 227, 227, 0.9);
	width: 15rem;
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 0.5rem;
	border: 0.15rem solid black;
}

#status {
	border-radius: 0.5rem;
	width: 80%;
	margin: auto;
	color: white;
	font-size: 2rem;
	text-align: center;
	padding: 0.3rem;
	padding-top: 0.5rem;
	margin-bottom: 0.5rem;

	box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}

#reset {
	font-size: 1.2rem;
	margin: auto;
	border-radius: 4rem;
	box-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
	padding: 0.2rem 1rem;
}

#reset:active {
	transform: translateX(0.1rem) translateY(0.1rem);

	box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

#word {
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.letter {
	aspect-ratio: 1/1;
	width: 3rem;
	background: white;
	border: 0.15rem solid black;
	border-bottom: 0.4rem solid black;
	font-size: 2rem;
}

.letter p {
	display: none;
}

.correct {
	color: white;
	background: green;
}

.incorrect {
	color: white;
	background: red;
}

#buttons {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-auto-flow: dense;
	--gap: 0.5rem;
	gap: var(--gap);
}

button {
	display: block;
}

#buttons button {
	aspect-ratio: 1/1;
	width: calc((100% - var(--gap) * 9) / 9);
	font-size: 1.5rem;

	border: 0.15rem solid black;
	border-radius: 1rem;

	box-shadow: 0rem 0.2rem rgba(0, 0, 0, 0.5);
}

button:hover {
	filter: brightness(85%);
}

#buttons button:active {
	transform: translateY(0.1rem);
	box-shadow: 0rem 0.1rem rgba(0, 0, 0, 0.5);
}

/* Hangman */

#drawing-container {
	margin-right: 1rem;
}

#drawing {
	width: 18rem;
	height: 25rem;
}

.structure,
.hangman {
	position: relative;
}

.structure *,
.hangman * {
	box-sizing: border-box;
	background: var(--drawing-color);
	width: var(--line-thickness);

	position: absolute;
}

.structure {
	left: 3rem;
	bottom: 1rem;
}

.hangman {
	margin-top: 2rem;
	left: 8.5rem;
	top: 3rem;
}

.pole {
	height: 24rem;
}

.bar {
	height: var(--line-thickness);
	width: 12rem;
}

.support {
	height: 3rem;
	transform: skew(-45deg);
	left: 1.5rem;
}

.base {
	height: var(--line-thickness);
	width: 6rem;
	top: 24rem;
	right: 14rem;
}

.rope {
	width: 0.4rem;
	height: 4rem;
	bottom: 5rem;
	left: 0.05rem;
}

.eye {
	aspect-ratio: 1/1;
	width: 0.5rem;
	border-radius: 100%;
	position: absolute;
	top: 1.2rem;

	left: 1rem;
}

.right.eye {
	left: 2.5rem;
}

.body {
	left: 2.25rem;

	top: 5rem;
}

/* Used in the game */

.head {
	aspect-ratio: 1/1;
	width: 5rem;
	border-radius: 100%;
	background: none;
	border: var(--line-thickness) solid var(--drawing-color);
}

.torso {
	height: 6rem;
}

.arm {
	height: 3.5rem;
	transform: skew(-35deg);

	right: 1.4rem;
}

.right.arm {
	transform: skew(35deg);

	left: 1.4rem;
}

.leg {
	height: 5.5rem;
	transform: skew(-25deg);

	top: 6rem;
	right: 1.3rem;
}

.right.leg {
	transform: skew(25deg);

	left: 1.3rem;
}

#hangman {
	position: relative;
	height: 100vh;
}

@media screen and (max-width: 576px) {
	html {
		overflow: scroll;
	}
	header {
		width: fit-content;
		font-size: 1.2rem;
		margin: auto;
		margin-top: 1.5rem;
		margin-bottom: 3rem;
		border-radius: 0.5rem;
		padding: 0 0.5rem;
	}
	#hangman {
		height: 100svh;
	}
	#content {
		height: 29.5rem;
		margin-top: 0rem;
		border-radius: 0rem 0rem 0.5rem 0.5rem;
		width: 100vw;
		padding: 0.25rem;
	}
	#game {
		flex-direction: column;
	}
	.letter {
		width: 3rem;
	}
	.letter p {
		font-size: 2rem;
	}
	#drawing {
		transform: scale(70%) translateY(-30%) translateX(10%);
	}
	#drawing-container {
		height: 20rem;
		width: 100%;
	}
	#input {
		margin-top: 2rem;
		width: 100%;
	}
	#buttons {
		position: absolute;
		bottom: 1rem;
		left: 0;
		--gap: 0.25rem;
	}
	#buttons button {
		font-size: 1rem;
		border-radius: 0.4rem;
		border-width: 0.1rem;
	}

	.display {
		width: 60%;
		margin-top: 2rem;
		padding: 1rem;
	}

	#status {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	#reset {
		font-size: 1.8rem;
	}
}
