@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
	--line-thickness: 0.5rem;
	--drawing-color: black;
}

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;

	font-family: "Merriweather", serif;
}

html {
	background: rgb(148, 222, 243);
}

header {
	color: black;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 2rem;
	font-size: 1.5rem;
}

#content {
	background: beige;
	width: 60rem;
	margin: auto;
	padding: 1rem;
	height: 30rem;
	display: flex;
}

#text {
	display: flex;
	flex: 1;
}

#text * {
	margin: auto;
}

#input {
	width: 90%;
	margin: auto;
}

.display {
	width: 40%;
	margin: auto;
	margin-top: 1rem;
	background: rgba(0, 0, 0, 0.25);
	padding: 0.25rem;
	display: none;
}

#status {
	color: white;
	text-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.5);
	font-size: 2rem;
	text-align: center;
	margin-bottom: 0.25rem;
}

#reset {
	font-size: 1rem;
	display: block;
	margin: auto;
}

#word {
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

#letter {
	aspect-ratio: 1/1;
	width: 3rem;
	border-bottom: 0.25rem solid black;
	font-size: 2rem;
}

#letter p {
	display: none;
}

.correct {
	color: white;
	background: green;
}

.incorrect {
	color: white;
	background: red;
}

#buttons {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	grid-auto-flow: dense;
	gap: 0.5rem;
}

#buttons button {
	aspect-ratio: 1/1;
	width: calc((100% - 0.5rem * 9) / 9);
	font-size: 1.5rem;
}

/* Hangman */

#drawing-container {
	background: white;
	padding: 1rem;
	margin-right: 1rem;
}

#drawing {
	width: 18rem;
	height: 27rem;
}

.structure,
.hangman {
	position: relative;
}

.structure *,
.hangman * {
	box-sizing: border-box;
	background: var(--drawing-color);
	width: var(--line-thickness);

	position: absolute;
}

.structure {
	left: 3rem;
	bottom: 1rem;
}

.hangman {
	margin-top: 2rem;
	left: 7rem;
	top: 3rem;
}

.pole {
	height: 24rem;
}

.bar {
	height: var(--line-thickness);
	width: 12rem;
}

.support {
	height: 3rem;
	transform: skew(-45deg);
	left: 1.5rem;
}

.base {
	height: var(--line-thickness);
	width: 6rem;
	top: 24rem;
	right: 14rem;
}

.rope {
	width: 0.4rem;
	height: 4rem;
	bottom: 5rem;
	left: 0.05rem;
}

.eye {
	aspect-ratio: 1/1;
	width: 0.5rem;
	border-radius: 100%;
	position: absolute;
	top: 1.2rem;

	left: 1rem;
}

.right.eye {
	left: 2.5rem;
}

.body {
	left: 2.25rem;

	top: 5rem;
}

/* Used in the game */

.head {
	aspect-ratio: 1/1;
	width: 5rem;
	border-radius: 100%;
	background: none;
	border: var(--line-thickness) solid var(--drawing-color);
}

.torso {
	height: 6rem;
}

.arm {
	height: 3.5rem;
	transform: skew(-35deg);

	right: 1.4rem;
}

.right.arm {
	transform: skew(35deg);

	left: 1.4rem;
}

.leg {
	height: 5.5rem;
	transform: skew(-25deg);

	top: 6rem;
	right: 1.3rem;
}

.right.leg {
	transform: skew(25deg);

	left: 1.3rem;
}
